{% extends "blog/blog.html" %}
{% block title %}About My Blog{% endblock %}
{% block content %}
<div class="col-md-8">
    <h1>Welcome to My Personal Finance Blog!</h1>
        <p1><!-- wp:paragraph -->
            <p>My name is Jim Johnson and I am an Engineer, a business analyst, and most importantly have a true appreciation for personal finance and the freedom that financial literacy provides. When I graduated college in 2016 my dad gave me a Dave Ramsey book about burning down debt and saving for retirement. The book sparked my passion for personal finance and was the catalyst that drove me to teach myself about my own finances. Throughout the self-education process I found a concept known as financial independence</p>
            <!-- /wp:paragraph -->
            
            <!-- wp:paragraph -->
            <p>In this blog I will walk you through my journey to financial independence, including tips, tricks, and even personal calculators. </p>
            <!-- /wp:paragraph --></p1>
</div>
{% endblock content %}